<!DOCTYPE html>

<html>

<head>
    <title>Signup</title>
    <link rel="icon" href="/img/lock.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{forecast}} in {{location}}</p>
    </div>
    
    {{>footer}}
</body>

</html>